<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Whitestorm.js 3D Framework (Based on Three.js)</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Whitestorm.js is a framework for 3D web apps built with Three.js technology. It implements a core for fast development of a 3D scene with physics.">
  <meta name="keywords" content="three.js, physics, whitestorm.js, framework, 3d, library, github, webgl">
  <link rel="author" href="https://plus.google.com/113564780584588197070"/>
  <meta name="google-site-verification" content="pbTJ2Oktz_eQSZVDu3fZcUdHss1Im7RY3kVdeDYEt8U" />

  <!-- Bots -->
  <meta name="ROBOTS" CONTENT="NOARCHIVE">
  <meta name="googlebot" content="noodp">

  <!-- Other -->
  <meta name="copyright" content="Alexander Buzin">
  <meta name="language" content="english" />


  <!-- Opengraph -->
  <meta property="og:title" content='<%= current_page.data.title || "API Documentation" %>'/>
  <meta property="og:image" content="https://raw.githubusercontent.com/WhitestormJS/whitestorm.js/master/development/art/logo/default.png"/>
  <meta property="og:url" content="http://whsjs.io/"/>
  <meta property="og:description" content="Whitestorm.js is a framework for 3D web apps built with Three.js technology. It implements a core for fast development of a 3D scene with physics."/>
  <meta property="fb:admins" content="alexbuzin88"/>

  <!-- Twitter cards -->
  <meta property="twitter:title" content='<%= current_page.data.title || "API Documentation" %>'/>
  <meta property="twitter:image" content="https://raw.githubusercontent.com/WhitestormJS/whitestorm.js/master/development/art/logo/default.png"/>
  <meta property="twitter:url" content="http://whsjs.io/"/>
  <meta property="twitter:description" content="Whitestorm.js is a framework for 3D web apps built with Three.js technology. It implements a core for fast development of a 3D scene with physics."/>
  <meta property="twitter:card" content="summary"/>
</head>
<body>
  <div id="app"></div>

  <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
  <script type="text/javascript" src="/assets/app.js"></script>
</body>
</html>
