 <header class="ui grid">
  <div class="ui column eight wide" style="padding:0;">
    <a href="/"> <img id="logo" src="/images/logo_header.png" height="80"></a>
  </div>
  <div class="ui column four wide grid right floated">
          <div class="column sixteen wide header-menu">
            <div class="row">
              <a href="/init"><span>Documentation</span></a>|
              <a href="https://cdn.jsdelivr.net/whitestormjs/latest/whitestorm.min.js"><span>Download</span></a>
            </div>
            <div class="row" style="margin:5px;">
              <div class="ui image label">
                  <img src="/images/avatar.jpg">
                  alexbuzin88@gmail.com
                  <a href="mailto:alexbuzin88@gmail.com"><i class="mail icon"></i></a>
                </div>
            </div>
          </div>

          <div class="column seven wide" style="display:none;">
            <div class="row">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search...">
                    <div class="ui teal button" onclick="show_indev()">Search</div>
                </div>
            </div>

              <div class="row fluid">
                  <div class="ui padded grid center aligned">
                    <a href="javascript:show_indev()"><i class="us flag four wide column"></i></a>
                    <a href="javascript:show_indev()"><i class="ua flag four wide column"></i></a>
                    <a href="javascript:show_indev()"><i class="france flag four wide column"></i></a>
                  </div>
              </div>

        </div>
  </div>
 </header>