<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	<title>WhitestormJS 3D Engine</title>
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery.nanoscroller.min.js"></script>
<script src="/js/highlight.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
<script src="/semantic/semantic.min.js"></script>

<link rel="stylesheet" href="/css/nanoscroller.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/styles/default.css">
<script>hljs.initHighlightingOnLoad();</script>
<!-- Copyright Alexander Buzin 2015 -->
</head>