<!--<div class="ui accordion link">-->
<div class="ui accordion sticky vertical menu right floated"  style="margin-top: 10%; height: auto !important;">

  {% for module in site.data.structure %}
  {% if module.funcs | size > 0 %}

    <div class="{% if page.module == module.name %}active teal{% endif %} item">
      <a class="title">
          <div class="ui {% if page.module == module.name %}teal{% endif %} label">{{module.funcs | size}}</div>&nbsp;
          {{module.name}}
      </a>

    <div class="content {% if module.funcs.size > 8 %} nano {% endif %}">
      <div class="ui link padded list transition hidden {% if module.funcs.size > 8 %} nano-content {% endif %}"
        {% if module.funcs.size > 8 %} style="position:relative;" {% endif %}>
        {% for func in module.funcs %}
        <a class="item" href="/{{func.name}}">{{func.name}}</a>
        {% endfor %}
      </div>
    </div></div>

  
  {% else %}
  <!---</div>-->
  
   <a href="/{{module.link}}" class="{% if page.module == module.name %}active teal{% endif %} item">{{module.name}}
    </a>
  
  {% endif %}
  {% endfor %}

  <!--<div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search classes..." onclick="show_indev()">
      <i class="search icon"></i>
    </div>
  </div>-->

</div>