<div class="ui small basic modal center aligned idev">
  <i class="close icon"></i>
  <div class="header">
    Site now is in development.
  </div>
  <div class="image content">
    <i class="large configure icon"></i>
    <div class="description">
      <p>We are sorry, but now some functions or docs don't work... Keep in touch...</p>
    </div>
  </div>
  <div class="actions">
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        OK
      </div>
  </div>
</div>
<script type="text/javascript">
function show_indev() {
  $('.ui.basic.modal').modal('show');
}
</script>