@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Lato|Montserrat|Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Days+One|Electrolize|Pacifico|Varela+Round');

$font-ballo: 'Baloo Bhai', cursive;
$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-shri: 'Shrikhand', cursive;
$font-paci: 'Pacifico', cursive;
$font-vare: 'Varela Round', sans-serif;
$font-days: 'Days One', sans-serif;
$font-elec: 'Electrolize', sans-serif;
