/* Base Application Styles */

body {
  background: #262C38;
  overflow-x: hidden;
}

#background {
  width: 100%;
  height: 100%;
}

.view {
  position: fixed;
  max-width: 100%;
  bottom: -750px;
  z-index: -1;
  pointer-events: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

@import 'Header.scss';
@import 'Features.scss';
@import 'Sidebar.scss';
@import 'Featured.scss';
@import 'Content.scss';
@import 'Team.scss';
