/*

$font-ballo: 'Baloo Bhai', cursive;
$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-shri: 'Shrikhand', cursive;
$font-paci: 'Pacifico', cursive;
$font-vare: 'Varela Round', sans-serif;
$font-days: 'Days One', sans-serif;
$font-elec: 'Electrolize', sans-serif;

*/

.content {
  float: right;
  width: calc(100% - 370px);
  padding: 10px;

  &>h1 {
    position: relative;
    color: white;
    box-shadow: inset 40px 0px 40px -45px $docs-color, -16px 0px 20px -16px $docs-color;
    padding: 0 7px;
    margin: 0 40px;
    font-family: $font-vare;

    &:after {
      content: '.';
      position: absolute;
      width: 40px;
      left: -40px;
      top: 0;
      color: transparent;
      box-shadow: inset -30px 0px 30px -30px $docs-color, inset -40px 0px 40px -30px $docs-color, 16px 0px 20px -16px $docs-color;
    }
  }

  .content-body {
    padding: 20px 50px;
    color: white;

    h4 {
      position: relative;
      color: white;
      box-shadow: inset 40px 0px 40px -45px #fff, -16px 0px 20px -16px #fff;
      padding: 0 7px;
      margin: 20px 30px;
      font-family: $font-vare;
      margin-left: -10px;
      font-size: 10pt;

      code {
        margin: 0 20px;
      }

      &:after {
        content: '.';
        position: absolute;
        width: 40px;
        left: -40px;
        top: 0;
        color: transparent;
        box-shadow: inset -30px 0px 30px -30px #fff, inset -40px 0px 40px -50px #fff, 16px 0px 20px -16px #fff;
      }

      &:before {
        content: '';
        background: url('../images/h4.png');
        background-size: 100%;
        position: absolute;
        left: -38px;
        top: 4px;
        width: 12px;
        height: 8px;
        background-size: 100%;
        display: block;
        float: left;
      }
    }

    h1 {
      @extend h4;
      margin: 20px 0px;
      font-size: 20pt;
      margin-left: 0px;

      &:after {
        box-shadow: inset -30px 0px 30px -30px #fff, inset -40px 0px 40px -35px #fff, 16px 0px 20px -16px #fff;
      }

      &:before {
        background: url('../images/h1.png');
        background-size: 100%;
        top: 10px;
        left: -50px;
      }
    }

    h2 {
      @extend h4;
      margin: 20px 10px;
      font-size: 18pt;
      margin-left: -10px;

      &:after {
        box-shadow: inset -30px 0px 30px -30px #fff, inset -40px 0px 40px -40px #fff, 16px 0px 20px -16px #fff;
      }

      &:before {
        background: url('../images/h2.png');
        background-size: 100%;
        top: 7px;
        left: -40px;
      }
    }

    h3 {
      @extend h4;
      margin: 20px 20px;
      margin-left: -10px;
      font-size: 14pt;

      &:after {
        box-shadow: inset -30px 0px 30px -30px #fff, inset -40px 0px 40px -45px #fff, 16px 0px 20px -16px #fff;
      }

      &:before {
        background: url('../images/h3.png');
        background-size: 100%;
        top: 6px;
      }
    }

    p {
      // color: #eee;
      text-align: justify;
      text-justify: inter-word;
      font-family: $font-vare;
      margin: 10px 0;
      line-height: 1.5;
      max-width: 700px;
      font-size: 12pt;
    }

    blockquote {
      border-left: 2px solid rgba(41, 172, 255, 0.5);
      box-shadow: inset 20px 0px 20px -25px #29acff;
      color: #29acff;
      padding: 0 10px;
      margin: 10px 0;
      font-weight: bold;
      position: relative;

      p {
        margin: 0;
        text-align: left;

        a {
          color: #2994ff;
          text-decoration: underline;
        }
      }

      &:before {
        content: '';
        background: url('../images/note.png');
        position: absolute;
        left: -20px;
        top: 2px;
        width: 11px; // 14
        height: 14px; // 18
        background-size: 100%;
        display: block;
        float: left;
      }
    }

    em {
      color: #aaecff;
    }

    code:not(.hljs) {
      color: #eee;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.2);
      padding: 2px 5px;
    }

    pre {
      border-left: 2px solid rgba(255, 174, 84, 0.5);
      box-shadow: inset 20px 0px 20px -25px #ffae54;
      padding: 10px 20px;
      margin: 10px 0;
      position: relative;
      background: rgba(0, 0, 0, 0.2);

      &:before {
        content: '';
        background: url('../images/code.png');
        position: absolute;
        left: -22px;
        top: 2px;
        width: 16px; // 14
        height: 12px; // 18
        background-size: 100%;
        display: block;
        float: left;
      }

      /* HIGHLIGHT */

      .hljs-keyword {
        color: #9b61e3;
      }

      .hljs-number {
        color: #B8E361;
      }

      .hljs-string {
        color: #ffae54;
      }

      .hljs-literal {
        color: #77bcd7;
        font-weight: bold;
      }

      .hljs-regexp {
        color: #ebde68;
      }

      .hljs-comment {
        color: #777;
      }
    }

    a {
      color: #29acff;
    }
  }

  .content-tags {
    padding: 20px 50px 0 45px;
    position: relative;

    span {
      padding: 2px 8px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 2px;
      margin: 5px;
      font-weight: bold;
      color: #29acff;
    }

    &:before {
      content: '';
      background: url('../images/tags.png');
      background-size: 100%;
      width: 16px;
      height: 14px;
      position: absolute;
      display: inline-block;
      top: 22px;
      left: 25px;
    }
  }
}
