@import '_responsive.scss';
@import '_fonts.scss';

/*

$font-ballo: 'Baloo Bhai', cursive;
$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-shri: 'Shrikhand', cursive;
$font-paci: 'Pacifico', cursive;
$font-vare: 'Varela Round', sans-serif;
$font-days: 'Days One', sans-serif;
$font-elec: 'Electrolize', sans-serif;

*/

$item-width: 220px;

.features {
  height: 200px;
  width: 80%;
  margin: 8% auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $desktop) {
    flex-direction: column;
    align-items: center;
  }

  .features-item {
    max-width: $item-width;

    img {
      height: $item-width / 2;
      display: block;
      margin: 0 auto;
    }

    h1 {
      color: white;
      text-transform: uppercase;
      font-size: 18pt;
      font-family: $font-mont;
    }

    ul {
      color: #eee;
      padding: 12pt;
      font-size: 10pt;
      font-family: $font-mont;
      line-height: 1.5;

      b {
        text-shadow: 0 0 1px rgba(255,255,255,0.5);
        color: white;
      }
    }
  }
}
