@import '_fonts.scss';
@import '_responsive.scss';

/*

$font-ballo: 'Baloo Bhai', cursive;
$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-shri: 'Shrikhand', cursive;
$font-paci: 'Pacifico', cursive;
$font-vare: 'Varela Round', sans-serif;
$font-days: 'Days One', sans-serif;
$font-elec: 'Electrolize', sans-serif;

*/

header {
  min-height: 50px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;

  @media screen and (max-width: $minNavWidth) {
    flex-direction: column;
  }

  &>* {
    align-self: center;
  }

  &>div {
    margin-top: 5px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-family: $font-ballo;
    font-size: 14pt;
    padding: 0px 10px;

    @media screen and (max-width: $minMiniNavWidth) {
      padding: 5px 5px;
      text-align: center;
      margin: 10px 0;
      display: block;
    }

    &.inverted {
      border-radius: .25rem;
      border: 2px solid #eee;
      transition: all 0.3s linear;
      margin: 0 5px;

      &:hover {
        background: #eee;
        color: #29acff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
      }
    }
  }

  span {
    font-family: $font-lato; //lato
  }
}
