@import '_fonts.scss';

/*

$font-ballo: 'Baloo Bhai', cursive;
$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-shri: 'Shrikhand', cursive;
$font-paci: 'Pacifico', cursive;
$font-vare: 'Varela Round', sans-serif;
$font-days: 'Days One', sans-serif;
$font-elec: 'Electrolize', sans-serif;

*/

$docs-color: #B8E361; //  #B8E361; // #29acff;

.sidebar {
  padding: 10px;
  width: 320px;
  float: left;
  font-family: $font-vare; // lato, mont, vare, elec

  h1 {
    color: white;
    box-shadow: inset 40px 0px 30px -22px $docs-color, -16px 0px 20px -16px $docs-color;
    padding: 0 10px;
    margin: 0 40px;
    font-family: $font-elec;
  }

  ul {
    border-radius: 10px;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      border-left: 2px solid white;
      list-style-type: none;
      padding: 10px 10px;
      color: white;
      font-size: 10pt;

      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      &:active {
        background: rgba(0, 0, 0, 0.1);
      }

      &.active  {
        background: rgba(255, 255, 255, 0.1);
        border-left: 6px solid white;
        box-shadow: inset 20px 0px 20px -21px white;
        padding: 10px 10px 10px 20px;
      }

      &:hover img {
        opacity: 1;
      }

      img {
        width: 15px;
        float: right;
        opacity: 0.8;
      }
    }

    span.category-title {
      font-family: $font-mont;
      margin-left: -2px;
      border-left: 4px solid white;
      box-shadow: inset 20px 0px 20px -22px $docs-color, -16px 0px 20px -16px $docs-color;
      font-weight: bold;
      display: list-item;
      list-style: none;
      padding: 10px 10px;
      color: white;
      // margin: 15px 0 0 0px;
      cursor: pointer;

      img {
        width: 12px;
        margin: 0 10px;
      }

      &.active  {
        background: rgba(255, 255, 255, 0.05);
      }

      .category-fold {
        background: url(../images/left-arrow.png);
        transform: rotate(-90deg);
        width: 10px;
        height: 18px;
        display: inline-block;
        background-size: 100%;
        float: right;

        &.folded {
          transform: rotate(0deg);
        }
      }
    }

    &.category {
      padding: 0;
      overflow: hidden;
      border-radius: 0px;

      &.folded {
        max-height: 0px !important;
      }

      li {
        border-left: 2px solid rgba(255, 255, 255, 0.5);
        box-shadow: inset 20px 0px 20px -25px white;
      }
    }
  }
}

.alignedLeft.sidebar {
  position: absolute;
  left:0;
}
